<!DOCTYPE html>
<html>
<head>
    <title>Forgot my password</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <style>
        .container {
            display: flex;
            flex-direction: column;
            margin-top: 300px; /* Top margin */
            /* TODO 1: Optimize align */
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <br>
                <h1 class="display-6">Forgot your password?</h1>
                <br>
                <div class="row">                 
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1">
                    </div> 
                </div>
                  <br>
                  <button type="button" class="btn btn-secondary">Redefine password</button>
                  <button type="button" class="btn btn-outline-secondary">Cancel</button>
                </form>
            </div>
        </div>
    </div>
    <script src="{{url_for('static', filename='css/bootstrap.min.css')}}"></script>
</body>
</html>