<!DOCTYPE html>
<html>
<head>
    <title>When2Meet</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <style>
        .container {
            display: flex;
            flex-direction: column;
            justify-content: center; /* Horizontally center */
            align-items: center; /* Vertically center */
            height: 100vh; /* Full viewport height */
        }
    </style>
</head>
<body>
    <div class="container">
    <h1 class="text-center mt-5"> 
        When2Meet
        <small class="text-body-secondary">Find the perfect time.</small>
    </h1>
    <div class="d-grid gap-2 col-6 mx-auto">
        <br><br>
        <a href="/login" type="button" class="btn btn-outline-success">Login</a>
        <a href="/signup" type="button" class="btn btn-outline-success">Create my Account</a>
      </div>
    </ul>
    </div>
</body>
</html>